<!Doctype html>
<html>
 <head>
  <title>About Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="application.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
 </head>
 <body class="background">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark container-12">
     <img id="drag1" src="<%= asset_path('library.jpg') %>" draggable="true" ondragstart="drag(event)" width="40" height="35">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about">AboutUs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact">ContactUs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="books">Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="sign_in">SignIn</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="sign_up">SignUp</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="student">Students</a>
        </li>
      </ul>
    </div>
  </nav>
  <div>
  <img src="./images/002.webp" class="cl_2" alt="image" height="250px" width="220px">
  </div>
  <h2>about page</h2>
 </body>
</html>
